/* mobile devices media query */
@media screen and (max-width:576px) {
    header nav{
        margin-bottom: 30px;
    }
    .nav,
    ul {
        flex-direction: column;
    }

    .influencer-banner {
        flex-direction: column-reverse;
        gap: 20px;

    }

    .influencer {
        width: 100%;
        text-align: center;
        margin-top: 14px;
    }

    .influence-title {
        font-size: 1.75rem;

    }

    .influence-description {
        font-size: 0.8rem;
    }

    .camera-img {
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    .camera-img img {
        width: 100%;
    }

    .influence-description br {
        display: none;
    }
    .company-logo{
        flex-wrap: wrap;
        border: none;
        padding: 0;
        
    }

    .collection-container{
        grid-template-columns: 1fr;
        padding: 0;
    }

    .see-more{
        justify-content: end;
        padding: 0;
        margin-top: 10px;
    }
    .feature-text{
        text-align: center;
    }

    .feature-product-container{
        flex-direction: column-reverse;
       
    }

    
    
}